<div class="container">
	  <div class="jumbotron">
	    <h1>RPG-UP-FIT APP!</h1>
	    <h2>The App that let's you battle for your workout</h2>     
	    <p><b>DESCRIPTION OF APP</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam fugit voluptatibus vero itaque similique optio id nesciunt animi nam eum. Ullam, qui incidunt provident vel aspernatur? Accusamus ut animi tempora.</p>
		<p><b>DESCRIPTION OF APP</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque vero qui repellendus temporibus consectetur molestiae necessitatibus. Non, minima quis excepturi beatae, unde incidunt deleniti tenetur corrupti nulla aut eveniet reiciendis.</p>
		<p><b>DESCRIPTION OF APP</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum recusandae doloribus pariatur totam, modi possimus. Asperiores in, id aliquam ad ipsa quidem sit aliquid incidunt, voluptates nihil, libero sequi mollitia!</p>
	  </div>     


<button routerLink="/about" routerLinkActive="active" class="about-the-team btn-lg">About the Team</button> <!-- button for about -->
<button routerLink="/start" routerLinkActive="active" class="get-started btn-lg">Let's Get Started</button>  <!-- button to get started -->

</div>
