
h1 {
   font-size: 36px;
   font-family: 'Rammetto One', cursive;
}

ul li {
	list-style-type: none;
}

.aboutList {
	 list-style-type: none;
}

.student {
	 list-style-type: none;
}

.big {
   font-size: 18px;
}

.container {
	text-align: center;
}


