<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <!-- <h1>RPG-Fit</h1> -->
	    <h2>The App that let's you Battle for your workout</h2>     
	    <p>Looking for extra motivation in your exersize routine? You'll love RPG-Fit. 
        This app allows users to battle against a <br />dungeon and dragons'character for workout motivation. Choose your workout ahead of time from a menu of workout choices, <br />pick your monster to battle and you're ready to get RPG-Fit. Your monster will send challenges... do 20 push-ups <br />for instance. Complete your challenge if you want to beat the monster.
        <p>See your STATS at the Finish Line. Can you beat the monster? I think you can</p>
        <button routerLink="/about" routerLinkActive="active" class="about-the-team btn-lg move">About the Team</button> <!-- button for about -->
		<button routerLink="/start" routerLinkActive="active" class="get-started btn-lg move">Let's Get Started</button>  <!-- button to get started -->
	  </div>     
</div>
