.container {
	text-align: center;
}

.jumbotron{
 	background: radial-gradient(circle, #ccffff, #1affff);
}

h1 {
  font-size: 36px;
  font-family: 'Rammetto One', cursive;

p {
   font-size: 18px;
}

// <<<<<<< laura (Unsure what this is all about. Shouldn't these styles be on the about component?)
// }

// ul li {
// 	list-style-type: none;
// }

// .aboutList {
// 	 list-style-type: none;
// }

// .student {
// 	 list-style-type: none;
// =======
// >>>>>>> master
// }



// <<<<<<< laura
// .container {
// 	text-align: center;
// }


// =======
// >>>>>>> master
