<div class="jumbotron jumbotron-fluid">
	  <div class="flex-container">
	    <h2>The App that let's you Battle for your Workout</h2>     
	    <p>Looking for extra motivation in your exercise routine? You'll love RPG-Fit. 
        This app allows users to battle<br /> against a fantasy monster for workout motivation. Choose your workout ahead of time from a menu of <br /> workout choices, pick your monster to battle and you're ready to get RPG-Fit. Your monster will send a <br /> challenge... <b>do 20 push-ups for instance.</b> Complete your challenge if you want to beat the monster.
        <p><b>Can you beat the monster?</b> Let's get started.</p>
        <button routerLink="/about" routerLinkActive="active" class="about-the-team btn-lg move">About the Team</button> <!-- button for about -->
		<button routerLink="/start" routerLinkActive="active" class="get-started btn-lg move">Let's Get Started</button>  <!-- button to get started -->
	  </div>     
</div>
