.jumbotron {
  background: rgba(255, 255, 255, .5);
  font-family: 'Rammetto One', cursive;
  color: rgba(85, 95, 119, 1);
  margin: 0;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, .5);
}

.row {
	margin: 0;
	text-align: center;
}


h2.test-xxl m-b-xxl {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: lighter;
}

img {
  height: auto;
  width: auto;
  max-width: 400px;
  max-width: 400px;
}

h3, .h3 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  font-weight: bold;
  color: rgba(85, 95, 119, 1);
}

h3.text-md text-bold {
  font-size: 18px;
  font-style: bold;
}

button {
	background-color: rgba(132, 141, 161, .70);
	font-family: 'Open Sans', sans-serif;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline;
	font-size: 16px;
	margin-top: 50px;
}

