<h2>Workout Detail</h2>
<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <button type="submit"
            [disabled]="workoutForm.pristine" class="btn btn-success">Save</button> &nbsp;
  <button type="reset" (click)="revert()"
            [disabled]="workoutForm.pristine" class="btn btn-danger">Revert</button>
</form>
<p>Form value: {{workoutForm.get('name').value }}</p>
<p>Form status: {{workoutForm.status | json }}</p>