  <div class="jumbotron">
    	<div class="container">
          <div class="row">
             <div class="col-centered"><!--one column-->
                  <h2>Out From The Darkness</h2>
                 <img src="./assets/images/monster6.png" alt="workout monster">
                 <h3 class="text-md text-bold">You have encountered a Monster</h3>
            </div>
          </div> 

          <div class="row">
             <div class="col-centered">
              <input  (click)="findMonster()" class="btn" type="submit" value="Monster Details">

          <section *ngIf='results'>
            <h2>CHALLENGE</h2>
            <ul>
              <li> Name: {{results.name}} </li>
              <li> Strength: {{results.strength}} </li>
              <li> Hit Points: {{results.hit_points}} </li>
             <li class="challenge"> To Beat this enemy, you must sprint for 2 minutes </li>
           </ul>
          </section>
              
                <button routerLink="/stats" routerLinkActive="active" class="about-the-team btn-lg move">Done</button> 
             </div>
          </div> 

      </div> <!--end container-->   
       
	</div>  



<p class="sm">Find Your First Monster to Defeat</p>

<input  (click)="findMonster()" class="btn" type="submit" value="Find Monster">

<section *ngIf='results'>
	<h2>Monster Found</h2>
		<ul>
			<li> Name: {{results.name}} </li>
			<li> Strength: {{results.strength}} </li>
			<li> Hit Points: {{results.hit_points}} </li>
			<li> To Beat this enemy, you must sprint for 2 minutes </li>
		</ul>
</section>

