.jumbotron {
  background: rgba(208, 210, 216, .3);
 }
.container {
	margin: 0 auto;
}
@media only screen and (max-width: 990px) {
    .btn-lg {
        margin-top: 1vh;
        margin-left: -1vw;
        width: 90vw;
    }
}

img {
  margin-left: 8.8vw;
}

button {
  border: none;
}




