@media only screen and (max-width: 530px) {
    input {
        margin-top: 2vh;
        margin-left: -1vw;
        width: 95vw;
        border-radius: 5px;
    }
	.submit {
        margin-top: 2vh;
        margin-left: -1vw;
        width: 95vw;
        background-color: rgba(255, 178, 94, .2);
        border-radius: 5px;
    }

}

    .navbar-brand {
        color: rgba(85, 95, 119, 8);
        border-radius: 5px;
    }