<h2>My Workouts</h2>

<ul class="workouts">
  <li *ngFor="let workout of workouts" (click)="onSelect(workout)" [class.selected]="workout === selectedWorkout">
    <span class="workout-element">
      <span class="badge">{{workout.id}}</span> {{workout.name}}
    </span>
    <button class="delete-button" (click)="deleteWorkout(workout, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addWorkout()">Add New Workout</button>
<div *ngIf="addingWorkout">
	ß
  <app-workout-detail (close)="close($event)"></app-workout-detail>
</div>

<div *ngIf="selectedWorkout">
  <h2>
    {{selectedWorkout.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<div>
