.jumbotron {

  background-color: rgba(235, 239, 249, .08);
}

ul {
  color: rgba(85, 95, 119, 1);
}
h2 {
  color: rgba(85, 95, 119, 1);
 }

label {
  color: rgba(85, 95, 119, 1);
 }

li {
  margin-top: 2vh;
  list-style: none;
  margin-left: -2vw;
}

input, button  {
  border: 1px solid rgba(85, 95, 119, 1);
  border-radius: 5px;
  text-transform: uppercase;
}

div.col-12 {
  padding: 2em;
  width:60%;
  margin-left: -3vw;
}

button, input {
  border: 1px solid black;
  border-radius: 5px;
  backgtound-color: red;
}

.col-12 {
  padding: 2em;
  border: 1px solid black;
  border-radius: 5px;
} 

.logout {
  margin-bottom: 1vh;
  border: none;
}

button:hover {
  background-color: rgba(248, 192, 132, .5);
}

.update {
  background-color: rgba(248, 192, 132, 1);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.delete {
  background-color: rgba(248, 192, 132, 1);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

img {
  padding-top: 30px;
  width: 300px;
  height: 300px;
}