<h2>My Workouts</h2>
 
<div>
  <label>Workout name:
    <input #workoutName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(workoutName.value); workoutName.value=''">
    add
  </button>
</div>
 
<ul class="workouts">
  <li *ngFor="let workout of workouts">
    <a routerLink="/detail/{{workout.id}}">
      <span class="badge">{{workout.id}}</span> {{workout.name}}
      <span> <button class="delete" title="delete workout"
    (click)="delete(workout)">Delete</button> </span>
    </a>
    
  </li>
</ul>


