li {
  margin-top: 2vh;
  list-style: none;
  margin-left: -2vw;
}

button, input {
  border: 1px solid black;
  border-radius: 5px;
  backgtound-color: red;
}

.col-12 {
  padding: 2em;
  border: 1px solid black;
  border-radius: 5px;
} 

.logout {
  margin-bottom: 1vh;
  border: none;
}








