
<div class="jumbotron">
  <div class="row">
    <div class="col-12">
      <h2>Workouts for {{''}}</h2>       
      <div>
        <label>Activity name:
          <input #activityName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(activityName.value); activityName.value=''">Add</button>
      </div>
       
      <ul class="workouts">
        <li *ngFor="let workout of workouts" >
          <div *ngIf="workoutToEdit !== workout">
            {{workout.id}} - {{workout.name}}
            <button (click)="delete(workout)" class="delete">Delete</button>
            <button (click)="updateWorkout(workout)" class="update" routerLink="/detail/{{workout.id}}">Edit</button>    
          </div>
        </li>
      </ul>
      
      <div>
        <button (click)="logout()" routerLink="/stats" routerLinkActive="active" class="logout btn-lg move">Logout Account</button> 
      </div>
    
    </div>
  </div>
</div>


