.jumbotron {
  background-color: rgba(235, 239, 249, .08);
}

li {
  margin-top: 2vh;
  list-style: none;
  margin-left: -3vw;
}

button, input {
  border: 1px solid rgba(85, 95, 119, 1);
  border-radius: 5px;
}

div.col-12 {
  padding: 2em;
  width:60%;
} 

.logout {
  margin-bottom: 1vh;
  border: none;
}

