.jumbotron {
  background: rgba(208, 210, 216, .5);
  font-family: 'Open Sans', sans-serif;
  color: rgba(85, 95, 119, 1);
  margin: 0;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, .5);
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
	margin: 0 10px;
	text-align: center;
}

h2.test-xxl m-b-xxl {
  font-size: 24px;
  font-weight: lighter;
}

h3, {
  padding-top: 10px;
  font-weight: bold;
  color: rgba(85, 95, 119, 1);
}

h3.text-md text-bold {
  font-size: 18px;
  font-style: bold;
}

a {
  color: 
  rgba(85, 95, 119, 1);
}

img {
  height: 150px;
	width: 150px;
	margin-top: 50px;
}

button:hover {
  background-color: rgba(248, 192, 132, .5);
}

auth-btn submit {
  background-color: #e4f4e3;
}

