.jumbotron {
  background: rgba(208, 210, 216, .6);
  font-family: 'Open Sans', sans-serif;
  color: rgba(85, 95, 119, 1);
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, .2);
}


h2.test-xxl m-b-xxl {
  font-size: 24px;
  padding-top: 20px;
}
.text-md text-bold {
  font-size: 18px;
  font-style: bold;
}

a {
  color: 
  rgba(85, 95, 119, 1);
}

button {
	background-color: rgba(132, 141, 161, .70);
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline;
	font-size: 16px;
}
