<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
<div class="container">
	  <div class="jumbotron">
	    <h1>About Us</h1>    
	    <ul class="big">Team RPG-Fit
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
	    <li></li>
        </ul>
	  </div>     


<button routerLink="/about" routerLinkActive="active" class="about-the-team btn-lg">About the Team</button> <!-- button for about -->
<button routerLink="/start" routerLinkActive="active" class="get-started btn-lg">Let's Get Started</button>  <!-- button to get started -->

</div>
