<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <div class="jumbotron">
    	<div class="container">
    		<h2 class="test-xxl m-b-xxl">Meet The Team</h2>
          <div class="row">
             <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/patrick.png" alt="Patrick Botkins">
                 <h3 class="text-md text-bold">Patrick Botkins</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/jugbeep">Patrick's Github</a></p>
                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nisi dolorem ratione ipsam. Obcaecati vel, id aperiam cupiditate totam exercitationem doloremque officiis deleniti aut nostrum quia ipsa, odit dolorum dicta.</p>
             </div>
              <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/patrick.png" alt="Kevin James">
                 <h3 class="text-md text-bold">Kevin James</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/trumpetcoder">Kevin's Github</a></p>
                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nisi dolorem ratione ipsam. Obcaecati vel, id aperiam cupiditate totam exercitationem doloremque officiis deleniti aut nostrum quia ipsa, odit dolorum dicta.</p>
             </div>
           </div> 

           <div class="row">
             <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/patrick.png" alt="Laura Johnson">
                 <h3 class="text-md text-bold">Laura Johnson</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/nemazeelaura">Laura's Github</a></p>
                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nisi dolorem ratione ipsam. Obcaecati vel, id aperiam cupiditate totam exercitationem doloremque officiis deleniti aut nostrum quia ipsa, odit dolorum dicta.</p>
             </div>
              <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/patrick.png" alt="Sassan Kermani">
                 <h3 class="text-md text-bold">Sassan Kermani</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/sassankermani">Sassan's Github</a></p>
                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nisi dolorem ratione ipsam. Obcaecati vel, id aperiam cupiditate totam exercitationem doloremque officiis deleniti aut nostrum quia ipsa, odit dolorum dicta.</p>
             </div>
           </div>    
           <button routerLink="/home" routerLinkActive="active" class="about-the-team btn-lg">Home</button> <!-- button for about -->
           <button routerLink="/start" routerLinkActive="active" class="get-started btn-lg">Let's Get Started</button>  <!-- button to get started -->


        </div> <!--end container-->   
       
	  </div>  

<!-- </div> -->

