    <div class="jumbotron">
    	<div class="container">
    		<h2 class="test-xxl m-b-xxl">Meet The Team</h2>
          <div class="row">
             <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl"><!--column one-->
                 <img src="./assets/images/patrick.png" alt="Patrick Botkins">
                 <h3 class="text-md text-bold">Patrick Botkins</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/jugbeep">Patrick's Github</a></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;"></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">I am the team lead for the project. I was responsible for GitHub pull requests, and the main tour of heroes developer. I also built a Firebase log in flow.  I hope this app makes millions of dollars and makes everyone super fit, and able to battle dragons.</p>
             </div>
              <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/kevin.png" alt="Kevin James"><!--column two-->
                 <h3 class="text-md text-bold">Kevin James</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/trumpetcoder">Kevin's Github</a></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;"></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">I am an accomplished musician and educator in Denver, CO. As a life long learner, I have decided to learn a new skill that translates into the ever shifting future of technology. I am excited about the future of technology and my personal growth in the web development field. Please enjoy my portfolio through the link above and thank you for viewing this particular project.</p>

             </div>
           </div> 

           <div class="row">
             <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/laura.png" alt="Laura Johnson"><!--column one-->
                 <h3 class="text-md text-bold">Laura Johnson</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/nemazeelaura">Laura's Github</a></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">I was responsible for frontend and ux on this project as well as logo design and finding and sizing monster images. I also made and routed three modules.</p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;"></p>

             </div>
              <div class="col-xxs-12 col-sm-6 col xx-3 m-b-xxl">
                 <img src="./assets/images/sassan.png" alt="Sassan Kermani"><!--column two-->
                 <h3 class="text-md text-bold">Sassan Kermani</h3>
                 <p class="text-xxxs m-b-sm text-uppercase"><a href="https://github.com/sassankermani">Sassan's Github</a></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;"></p>

                 <p class="text-xs m-b-sm m-x-auto" style="max-width: 35rem;">Sassan is (I am) a web developer, he is working on specializing himself as a back end dev and a becoming far more familiar with the standard query language then is probably necessary. Long term goes include making a chatbot that passes the turing test, making a ai that is self aware and generally concerning the world. </p>

             </div>
           </div>    
           <button routerLink="/home" routerLinkActive="active" class="about-the-team btn-lg move">Home</button> 
           <button routerLink="/start" routerLinkActive="active" class="get-started btn-lg move">Let's Get Started</button>  


        </div> <!--end container-->   
       
	  </div>  



