<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="#">Please Enter Your Information</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		        <li class="nav-item active">
		        	
		        	<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
						<input type="text" placeholder="email address" (ngModel)="email" name="email" class="input-txt" required>
						<input type="password" placeholder="Password" (ngModel)="password" name="password" class="input-txt" required>
						<button type="submit" [disabled]="!formData.valid" class="auth-btn">Log in</button>
					</form>
		        </li>
  			</ul>    
	    </div>
</nav>

