@media only screen and (max-width: 530px) {

    input {
        margin-top: 2vh;
        margin-left: -1vw;
        width: 95vw;
    }
	.submit {
        margin-top: 2vh;
        margin-left: -1vw;
        width: 95vw;
        background-color: green;
    }

}

.navbar-brand {
        color: rgba(85, 95, 119, 8);
    }